.card{
    /* display:"flex"; */
    background-color: var(--mantine-color-moss-green-1);
    
}

.input {
    font-family: "Average Sans";
    border: "1px solid black";
    font-size: small;
}

.wrapper {
    border: "1px solid black";
    padding: 0.25rem;
}
