.input{
    border: "1px solid black";
    font-size: small;
}

.wrapper{
    border: "1px solid black";
    padding: 0.25rem;
}



.body{
    border: "1px solid black";
    background-color:var(--mantine);
}

.header{
    border: "1px solid black";
}
